## docker-compose BareOS Director/Storage/Client/webUI, PHP-FPM and MySQL Database
version: '3'
services:
  bareos-dir:
    #image: barcus/bareos-director:17.2-mysql-alpine
    image: barcus/bareos-director:alpine #(lastest director+mysql)
    volumes:
      - /home/bareos/config/director:/etc/bareos
      - /home/bareos/data/director:/var/lib/bareos #(required for MyCatalog backup)
    environment:
      - DB_HOST=bareos-db
      - DB_PORT=3306
      - DB_PASSWORD=ThisIsMySecretDBp4ssw0rd
      - BAREOS_SD_HOST=bareos-sd
      - BAREOS_SD_PASSWORD=ThisIsMySecretSDp4ssw0rd
      - BAREOS_FD_HOST=bareos-fd
      - BAREOS_FD_PASSWORD=ThisIsMySecretFDp4ssw0rd
      - BAREOS_WEBUI_PASSWORD=ThisIsMySecretUIp4ssw0rd
      - SMTP_HOST=smtpd
      - ADMIN_MAIL=your@mail.address # Change me!
    depends_on:
      - bareos-db

  bareos-sd:
    image: barcus/bareos-storage:alpine
    ports:
      - 9103:9103
    volumes:
      - /home/bareos/config/storage:/etc/bareos
      - /home/bareos/data/storage:/var/lib/bareos/storage
    environment:
      - BAREOS_SD_PASSWORD=ThisIsMySecretSDp4ssw0rd

  bareos-fd:
    image: barcus/bareos-client:alpine
    volumes:
      - /home/bareos/config/client:/etc/bareos
      - /home/bareos/data/director:/var/lib/bareos-director:ro #(required for MyCatalog backup)
    environment:
      - BAREOS_FD_PASSWORD=ThisIsMySecretFDp4ssw0rd

  bareos-webui:
    image: barcus/bareos-webui:alpine
    ports:
      - 80:9100
    environment:
      - BAREOS_DIR_HOST=bareos-dir
      - PHP_FPM_HOST=php-fpm
      - PHP_FPM_PORT=9000
    volumes:
      - /home/bareos/config/webui:/etc/bareos-webui
      - /home/bareos/data/webui:/usr/share/bareos-webui
    depends_on:
      - php-fpm

  php-fpm:
    image: barcus/php-fpm-alpine
    volumes:
      - /home/bareos/data/webui:/usr/share/bareos-webui
      - /home/bareos/config/webui:/etc/bareos-webui

  bareos-db:
    image: mysql:5.6
    volumes:
      - /home/mysql/data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=ThisIsMySecretDBp4ssw0rd

  smtpd:
    image: namshi/smtp
#EOF
