version: 2.1
jobs:
  build: &build
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run:
          name: Install buildx plugin and qemu
          command: |
            export BUILDX_VER=v0.3.1
            mkdir -vp ~/.docker/cli-plugins/ ~/dockercache
            curl --silent -L "https://github.com/docker/buildx/releases/download/${BUILDX_VER}/buildx-${BUILDX_VER}.linux-amd64" > ~/.docker/cli-plugins/docker-buildx
            chmod a+x ~/.docker/cli-plugins/docker-buildx
            docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
      - run:
          name: Build and push image to Docker Hub
          command: ./build.sh
  push-readme: &push-readme
    machine: true
    steps:
      - checkout
      - run:
          name: Update Docker Hub readme
          command: |
            docker run -v $PWD:/workspace \
              -e DOCKERHUB_USERNAME=$DOCKER_USER \
              -e DOCKERHUB_PASSWORD=$DOCKER_PASS \
              -e DOCKERHUB_REPOSITORY="barcus/bareos-${BAREOS_APP}" \
              -e README_FILEPATH='/workspace/README.md' \
              peterevans/dockerhub-description:2.1.0

  # Build images
  build-director:
    <<: *build
    environment:
      - BAREOS_APP: director
  build-client:
    <<: *build
    environment:
      - BAREOS_APP: client
  build-storage:
    <<: *build
    environment:
      - BAREOS_APP: storage
  build-webui:
    <<: *build
    environment:
      - BAREOS_APP: webui

  # Build and deploy images
  build-and-deploy-director:
    <<: *build
    environment:
      - BAREOS_APP: director
      - DEPLOY: true
  build-and-deploy-client:
    <<: *build
    environment:
      - BAREOS_APP: client
      - DEPLOY: true
  build-and-deploy-storage:
    <<: *build
    environment:
      - BAREOS_APP: storage
      - DEPLOY: true
  build-and-deploy-webui:
    <<: *build
    environment:
      - BAREOS_APP: webui
      - DEPLOY: true

  # Push readme to Docker Hub
  push-readme-director:
    <<: *push-readme
    environment:
      - BAREOS_APP: director
  push-readme-client:
    <<: *push-readme
    environment:
      - BAREOS_APP: client
  push-readme-storage:
    <<: *push-readme
    environment:
      - BAREOS_APP: storage
  push-readme-webui:
    <<: *push-readme
    environment:
      - BAREOS_APP: webui

workflows:
  version: 2
  build-n-deploy:
    jobs:
      - build-director:
          filters:
            tags:
              only: /.*/
      - build-client:
          filters:
            tags:
              only: /.*/
      - build-storage:
          filters:
            tags:
              only: /.*/
      - build-webui:
          filters:
            tags:
              only: /.*/
      - build-and-deploy-director:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
      - build-and-deploy-client:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
      - build-and-deploy-storage:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
      - build-and-deploy-webui:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
      - push-readme-director:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
      - push-readme-client:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
      - push-readme-storage:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
      - push-readme-webui:
          filters:
            tags:
              only: /^v\d+-\d+$/
            branches:
              ignore: /.*/
