name: storage

on:
  push:
    paths:
      - 'client/*'
      - 'director-*/*'
      - 'storage/*'
      - 'webui/*'
      - '.github/actions/*'
      - '.github/workflows/*'
    branches:
      - master
  pull_request:
    paths:
      - 'client/*'
      - 'director-*/*'
      - 'storage/*'
      - 'webui/*'
      - '.github/actions/*'
      - '.github/workflows/*'
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare build file
        uses: ./.github/actions/prepare-bareos-build
        with:
          bareos_app: storage

      - name: Build images
        uses: ./.github/actions/build-bareos-app

      - name: Upload images
        uses: actions/upload-artifact@v1
        with:
          name: build-artifact
          path: build/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Download build file
        uses: actions/download-artifact@v1
        with:
          name: build-artifact

      - name: Load and push images
        uses: ./.github/actions/push-bareos-app
        with:
          docker_pass: ${{ secrets.DOCKER_PASS }}
